# Anomaly detection on Toronto data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
rcParams['figure.figsize'] = 12, 4

## Load data

In [15]:
project_folder = '../../datasets/thorium-medium/'
df_rain = pd.read_csv(project_folder + 'rainfall1.csv', parse_dates=['time'])
rain = df_rain.set_index('time')['rainfall'].fillna(0)
df_flow = pd.read_csv(project_folder + 'flow1.csv', parse_dates=['time'])
flow = df_flow.set_index('time')['flow'].fillna(0)
df = pd.concat([flow, rain], axis=1)
df

                           flow  rainfall
time
2015-04-29 08:50:00         NaN       0.0
2015-04-29 08:55:00         NaN       0.0
2015-04-29 09:00:00         NaN       0.0
2015-04-29 09:05:00         NaN       0.0
2015-04-29 09:10:00         NaN       0.0
2015-04-29 09:15:00         NaN       0.0
2015-04-29 09:20:00         NaN       0.0
2015-04-29 09:25:00         NaN       0.0
2015-04-29 09:30:00         NaN       0.0
2015-04-29 09:35:00         NaN       0.0
2015-04-29 09:40:00         NaN       0.0
2015-04-29 09:45:00         NaN       0.0
2015-04-29 09:50:00         NaN       0.0
2015-04-29 09:55:00         NaN       0.0
2015-04-29 10:00:00         NaN       0.0
2015-04-29 10:05:00         NaN       0.0
2015-04-29 10:10:00         NaN       0.0
2015-04-29 10:15:00         NaN       0.0
2015-04-29 10:20:00         NaN       0.0
2015-04-29 10:25:00         NaN       0.0
2015-04-29 10:30:00         NaN       0.0
2015-04-29 10:35:00         NaN       0.0
2015-04-29 10:40:00         NaN       0.0
2015-04-29 10:45:00         NaN       0.0
2015-04-29 10:50:00         NaN       0.0
2015-04-29 10:55:00         NaN       0.0
2015-04-29 11:00:00         NaN       0.0
2015-04-29 11:05:00         NaN       0.0
2015-04-29 11:10:00         NaN       0.0
2015-04-29 11:15:00         NaN       0.0
...                         ...       ...
2017-11-10 12:30:00  111.160004       0.0
2017-11-10 12:35:00  110.949997       0.0
2017-11-10 12:40:00  110.669998       0.0
2017-11-10 12:45:00  109.760002       0.0
2017-11-10 12:50:00  109.139999       0.0
2017-11-10 12:55:00  109.440002       0.0
2017-11-10 13:00:00  109.349998       0.0
2017-11-10 13:05:00  109.099998       0.0
2017-11-10 13:10:00  108.489998       0.0
2017-11-10 13:15:00  106.949997       0.0
2017-11-10 13:20:00  107.160004       0.0
2017-11-10 13:25:00  108.690002       0.0
2017-11-10 13:30:00  109.589996       0.0
2017-11-10 13:35:00  110.309998       0.0
2017-11-10 13:40:00  111.059998       0.0
2017-11-10 13:45:00  110.919998       0.0
2017-11-10 13:50:00  110.900002       0.0
2017-11-10 13:55:00  110.379997       0.0
2017-11-10 14:00:00  109.459999       0.0
2017-11-10 14:05:00  107.410004       0.0
2017-11-10 14:10:00  107.540001       0.0
2017-11-10 14:15:00  108.089996       0.0
2017-11-10 14:20:00  107.830002       0.0
2017-11-10 14:25:00  107.459999       0.0
2017-11-10 14:30:00  106.919998       0.0
2017-11-10 14:35:00  105.559998       0.0
2017-11-10 14:40:00  104.940002       0.0
2017-11-10 14:45:00         NaN       0.0
2017-11-10 14:50:00         NaN       0.0
2017-11-10 14:55:00         NaN       0.0

[266760 rows x 2 columns]